[Unit]
Description=Subtle Wallpaper Rotation Service
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wallpaper_cycler/wallpaper-rotation.py
StandardOutput=journal
StandardError=journal

# Restart on failure
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
